//
// # アイコン
//
@import '../vender/Font-Awesome/font-awesome';

// ラベルテキスト：デフォルトは非表示
[class*="bca-icon"] .bca-icon-label {
	display: none;
}

.bca-icon {

	@mixin fa-common {
		&::before {
			@extend .#{$fa-css-prefix};
			margin: 0 .3em 0 0;
		}
	}

	// 公開
	&--publish {
		@extend .#{$fa-css-prefix}-play-circle-o;
		@include fa-common;
	}

	// 非公開
	&--unpublish {
		@extend .#{$fa-css-prefix}-pause-circle-o;
		@include fa-common;
	}

	// 確認
	&--preview {
		@extend .#{$fa-css-prefix}-eye;
		@include fa-common;
	}

	// 編集
	&--edit {
		@extend .#{$fa-css-prefix}-pencil;
		@include fa-common;
	}

	// 複製
	&--copy {
		@extend .#{$fa-css-prefix}-copy;
		@include fa-common;
	}

	// 削除
	&--delete {
		@extend .#{$fa-css-prefix}-trash;
		@include fa-common;
	}

	// お気に入り
	&--favorite {
		@extend .#{$fa-css-prefix}-heart;
		@include fa-common;
	}

    // お気に入り
    &--exclamation-triangle {
      @extend .#{$fa-css-prefix}-exclamation-triangle;
      @include fa-common;
    }
  
	// メニューアイテム
	&--menuitem {
		@extend .#{$fa-css-prefix}-angle-right;
		@include fa-common;
	}

	// 追加
	&--add {
		@extend .#{$fa-css-prefix}-plus-circle;
		@include fa-common;
	}

	// 制限（鍵)
	&--permission {
		@extend .#{$fa-css-prefix}-lock;
		@include fa-common;
	}

	// ヘルプ
	&--help {
		@extend .#{$fa-css-prefix}-question-circle;
		@include fa-common;
	}


	&--chevron-down {
		@extend .#{$fa-css-prefix}-chevron-down;
		@include fa-common;
	}

	// 一覧
	&--list {
		@extend .#{$fa-css-prefix}-list-ul;
		@include fa-common;
	}

	// ブログ
	&--blog {
		@extend .#{$fa-css-prefix}-file-text-o;
		@include fa-common;
	}

	// メール
	&--mail {
		@extend .#{$fa-css-prefix}-envelope-o;
		@include fa-common;
	}

	// テーマ
	&--theme {
		@extend .#{$fa-css-prefix}-paint-brush;
		@include fa-common;
	}

	// プラグイン
	&--plugin {
		@extend .#{$fa-css-prefix}-puzzle-piece;
		@include fa-common;
	}

	// 設定
	&--setting {
		@extend .#{$fa-css-prefix}-cog;
		@include fa-common;
	}

	// HOME
	&--home {
		@extend .#{$fa-css-prefix}-home;
		@include fa-common;
	}

	// 次
	&--next {
		@extend .#{$fa-css-prefix}-angle-right;
		@include fa-common;
	}
	// 前
	&--back {
		@extend .#{$fa-css-prefix}-angle-left;
		@include fa-common;
	}

	// 矢印　右
	&--arrow-right {
		@extend .#{$fa-css-prefix}-arrow-right;
		@include fa-common;
	}
	// 矢印　左
	&--arrow-left {
		@extend .#{$fa-css-prefix}-arrow-left;
		@include fa-common;
	}
  // 矢印　上
  &--arrow-up {
    @extend .#{$fa-css-prefix}-arrow-up;
    @include fa-common;
  }
  // 矢印　下
  &--arrow-down {
    @extend .#{$fa-css-prefix}-arrow-down;
    @include fa-common;
  }

	// 矢印　三角上
	&--asc {
		@extend .#{$fa-css-prefix}-caret-up;
		@include fa-common;
	}

	// 矢印　三角下
	&--desc {
		@extend .#{$fa-css-prefix}-caret-down;
		@include fa-common;
	}

	// プラス
	&--plus-square {
		@extend .#{$fa-css-prefix}-plus-square;
		@include fa-common;
	}

	&--info-circle {
		@extend .#{$fa-css-prefix}-info-circle;
		@include fa-common;
	}

	&--question-circle {
		@extend .#{$fa-css-prefix}-question-circle;
		@include fa-common;
	}

	// マイナス
	&--minus-square {
		@extend .#{$fa-css-prefix}-minus-square;
		@include fa-common;
	}

	// ブックマーク
	&--bookmark {
		@extend .#{$fa-css-prefix}-bookmark;
		@include fa-common;
	}
	// 地球
	&--globe {
		@extend .#{$fa-css-prefix}-globe;
		@include fa-common;
	}
  // テキストコピー
  &--textcopy {
    @extend .#{$fa-css-prefix}-clipboard;
    @include fa-common;
  }

  // ドラック可能
  &--draggable {
    @extend .#{$fa-css-prefix}-arrows-v;
    @include fa-common;
  }

  // フォルダ
  &--folder {
    @extend .#{$fa-css-prefix}-folder;
    @include fa-common;
  }
  // ファイル
  &--file {
    @extend .#{$fa-css-prefix}-file-o;
    @include fa-common;
  }

  // 1階層上に戻る
  &--up-directory {
    @extend .#{$fa-css-prefix}-arrow-up;
    @include fa-common;
  }

  // 検索
  &--search {
    @extend .#{$fa-css-prefix}-search;
    @include fa-common;
  }

  // update
  &--update {
    @extend .#{$fa-css-prefix}-refresh;
    @include fa-common;
  }

}

// サイズ
// ===========================
[class^="bca-icon"] {
  // large
  &[data-bca-icon-size=lg] {
    font-size: 2.4rem;
  }

  // small
  &[data-bca-icon-size=sm] {
    font-size: 1.4rem;
  }

  // xsmall
  &[data-bca-icon-size=xs] {
    font-size: 1.2rem;
  }
}