/* BannerArea
----------------------------------------------- */
#BannerArea li {
	margin-bottom: 2px;
	padding-left:1px;
	padding-right:1px;
}
.bca-banner-area-ul {
	padding: 0;
}
.bca-banner-area-list {
	margin-bottom: 2px;
	padding-left:1px;
	padding-right:1px;
	list-style: none;
}