//
// # ボタンアイコン（アイコンのみ/テキストなし)
//
@import '../vender/Font-Awesome/font-awesome';

.bca-btn-icon {

	@mixin bca-btn-icon-common {
		display: inline-block;
		width:1em;
		font-size: 1.8rem;
		line-height:1;
		cursor: pointer;
		text-decoration: none;
		text-align: center;

		&::before {
			@extend .#{$fa-css-prefix};
			color: $color_primary;
			transition: 0.2;
		}
		&:hover {
			text-decoration: none;
			color: $color_secondary;
			&:before {
				color: $color_secondary;
			}
		}
	}

	// デフォルトボタン
	@include bca-btn-icon-common;

	// 公開
	&[data-bca-btn-type=publish] {
		@extend .#{$fa-css-prefix}-play-circle-o;
		@include bca-btn-icon-common;
	}

	// 非公開
	&[data-bca-btn-type=unpublish] {
		@extend .#{$fa-css-prefix}-pause-circle-o;
		@include bca-btn-icon-common;
	}

	// 確認
	&[data-bca-btn-type=preview] {
		@extend .#{$fa-css-prefix}-eye;
		@include bca-btn-icon-common;
	}

	// 編集
	&[data-bca-btn-type=edit] {
		@extend .#{$fa-css-prefix}-pencil;
		@include bca-btn-icon-common;
	}

	// 複製
	&[data-bca-btn-type=copy] {
		@extend .#{$fa-css-prefix}-copy;
		@include bca-btn-icon-common;
	}

	// 削除
	&[data-bca-btn-type=delete] {
		@extend .#{$fa-css-prefix}-trash;
		@include bca-btn-icon-common;
	}

  // 一覧に戻る
  &[data-bca-btn-type=back-to-list] {
    @extend .#{$fa-css-prefix}-chevron-left;
    @include bca-btn-icon-common;
  }

	// お気に入り
	&[data-bca-btn-type=favorite] {
		@extend .#{$fa-css-prefix}-heart;
		@include bca-btn-icon-common;
	}

	// メニューアイテム
	&[data-bca-btn-type=menuitem] {
		@extend .#{$fa-css-prefix}-angle-right;
		@include bca-btn-icon-common;
	}

	// 追加
	&[data-bca-btn-type=add] {
		@extend .#{$fa-css-prefix}-plus-circle;
		@include bca-btn-icon-common;
	}

	// ヘルプ
	&[data-bca-btn-type=help] {
		@extend .#{$fa-css-prefix}-life-ring;
		@include bca-btn-icon-common;
	}

	// 制限（鍵)
	&[data-bca-btn-type=permission] {
		@extend .#{$fa-css-prefix}-lock;
		@include bca-btn-icon-common;
	}

	// HOME
	&[data-bca-btn-type=home] {
		@extend .#{$fa-css-prefix}-home;
		@include bca-btn-icon-common;
	}

	// ログイン
	&[data-bca-btn-type=login] {
		@include bca-btn-icon-common;
		color: $color_lightest;
		$color_darken: darken($color_primary, 5%);
		border: 1px solid $color_darken;
		background-image: linear-gradient($color_primary 10%, $color_darken 100%);
		&:hover,
		&:focus {
			color: $color_lightest;
			background-image: linear-gradient($color_darken 10%, $color_darken 100%);
		}
	}

	// 開く
	&[data-bca-btn-type=open] {
		@extend .#{$fa-css-prefix}-folder-open;
		@include bca-btn-icon-common;
	}

  // テキストコピー
  &[data-bca-btn-type=textcopy] {
    @extend .#{$fa-css-prefix}-clipboard;
    @include bca-btn-icon-common;
  }

  // ダウンロード
  &[data-bca-btn-type=download] {
    @extend .#{$fa-css-prefix}-download;
    @include bca-btn-icon-common;
  }

  // ドラック可能
  &[data-bca-btn-type=draggable] {
    @extend .#{$fa-css-prefix}-arrows-v;
    @include bca-btn-icon-common;
  }

  // Login
  &[data-bca-btn-type=switch] {
    @extend .#{$fa-css-prefix}-sign-in;
    @include bca-btn-icon-common;
  }

  // フォルダ
  &[data-bca-btn-type=folder] {
    @extend .#{$fa-css-prefix}-folder;
    @include bca-btn-icon-common;
  }
  // ファイル
  &[data-bca-btn-type=file] {
    @extend .#{$fa-css-prefix}-file-o;
    @include bca-btn-icon-common;
  }

  // 1階層上に戻る
  &[data-bca-btn-type=up-directory] {
    @extend .#{$fa-css-prefix}-arrow-up;
    @include bca-btn-icon-common;
  }

  // 矢印　右
  &[data-bca-btn-type=arrow-right] {
    @extend .#{$fa-css-prefix}-arrow-right;
    @include bca-btn-icon-common;
  }
  // 矢印　左
  &[data-bca-btn-type=arrow-left] {
    @extend .#{$fa-css-prefix}-arrow-left;
    @include bca-btn-icon-common;
  }
  // 矢印　上
  &[data-bca-btn-type=arrow-up] {
    @extend .#{$fa-css-prefix}-arrow-up;
    @include bca-btn-icon-common;
  }
  // 矢印　下
  &[data-bca-btn-type=arrow-down] {
    @extend .#{$fa-css-prefix}-arrow-down;
    @include bca-btn-icon-common;
  }
  // ファイルリスト
  &[data-bca-btn-type=file-list] {
    @extend .#{$fa-css-prefix}-file-text;
    @include bca-btn-icon-common;
  }


  // サイズ
	// ===========================

	// large
	&[data-bca-btn-size=lg] {
		font-size: 2.4rem;
		&::before {
			@extend .#{$fa-css-prefix};
		}
	}

	// small
	&[data-bca-btn-size=sm] {
		font-size: 1.4rem;
		&::before {
			@extend .#{$fa-css-prefix};
		}
	}

	// xsmall
	&[data-bca-btn-size=xs] {
		font-size:1.2rem;
		&::before {
			@extend .#{$fa-css-prefix};
		}
	}

	// ステータス
	// ===========================

	// プライマリー
	&[data-bca-btn-status=primary] {
		@include bca-btn-icon-common;
		color: #fff;
		background: $color_primary;
		&::before {
			@extend .#{$fa-css-prefix};
			color: #fff;
		}
		&:hover {
			background: $color_secondary;
		}
	}
  // 白
  &[data-bca-btn-status=white] {
    color: #fff;
    &::before {
      color: #fff;
    }
    &:hover {
      color: #fff;
      &::before {
        color: #fff;
      }
    }
  }


	// disabled
	&[disabled] {
		color: #aaa;
		border-color: #ddd;
		//background: #eee;
	}
}
