/* bca-content-menu
----------------------------------------------- */


///* ContentsMenu
//----------------------------------------------- */
//#ContentsMenu{
//	float: right;
//	padding: 15px 0;
//}
//#ContentsMenu ul{
//	float: left;
//}
//#ContentsMenu ul li{
//	float: left;
//	margin-left: 10px;
//	padding:0;
//	background: none;
//}

.bca-content-menu {
	padding: 0;

	&__item {
		font-size: 0.8em;
		display: inline-block;
		margin-left: 1em;
		padding:0;
		background: none;
	}

	&__link {
		color: $color_text_secondary;
	}
}
