.bca-em-box{
	// border:5px solid #DDD;
	padding: 1px 15px;
	background: #FFFFFF;
	// color: #535A62;
	font-size: 1.4rem;
	margin: 15px auto;
	text-align: center;
	line-height: 1.6;
	a{
		color:#690;
		&:hover{
			color:#9C0;
			text-decoration: none;
		}
	}
}