.bca-feed {
  //margin-top: 47px;
  &__title {
    margin: 0 0 10px;
    font-size: 1.4rem;
  }
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    //font-size: 1.6rem;
    &-item {
      margin-bottom: 39px;
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
