.bca-list{
	padding: 0;
	list-style: none;
	&[data-bca-list-layout=horizon]{
		display: flex;
		flex-wrap: wrap;
	}
	&__item{
		position: relative;
		padding: 0 0 0 1em;
		margin-bottom: 8px;
		margin-right: 30px;
		line-height: 1.4;
		@extend .#{$fa-css-prefix}-angle-right;
		&::before{
			position: absolute;
			top: 0;
			left: 0;
			line-height: 1.2;
			color: $color_text_primary;
			@extend .#{$fa-css-prefix};
			// margin-right: 0.4em;
		}
	}
}