.bca-main {
	font-size: 1.6rem;
	position: relative;
	flex-basis: 100%;
	overflow: auto;
  padding-top: 8px;
  background: #eee;
  border-top: 1px solid #ccc;

	// ❗ .contents-body と同じ要素 ❗
	&__body {
		padding: 0 30px;
	}

	&__header {
		margin-bottom: 7px;
		padding: 12px 0;
		//background-color:#F4F5F1;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-title {
			flex: 0 0 auto;
			margin: 0 1em 0 0;
			font-size: 2.2rem;
			font-weight: bold;
			color: $color_secondary;
			line-height:1;
		}

		&-actions {
			flex: 1 1 auto;
		}

		&-menu {
			flex: 0 1 auto;
		}
	}
	&__section{
		margin-bottom: 30px;
	}
	&__heading{
		margin: 0 0 1em;
		padding: 1em 0 0.5em;
		&[data-bca-heading-size=lg] {
			font-size: 1.2em;
		}
		&[data-bca-heading-size=md] {
			font-size: 1.1em;
		}
	}
	&__text{
		margin: 0 0 1em;
		line-height: 1.5;
	}

}
