.bca-update-log {
  &__list {
    margin: 20px 0 30px;
    padding: 0;
    list-style: none;
    //font-size: 1.6rem;
    &-item {
      margin-bottom: 17px;
      font-size: 1.4rem;
      line-height: 1.5;
    }
  }
}
