.jstree-proton {
  .jstree-wholerow-hovered {
    background: $color_background_menu_dark !important;

  }
  .jstree-hovered.jstree-clicked {
    color: $color_lightest!important;
  }
  .jstree-hovered {
    color: $color_darkest!important;
  }
  .jstree-wholerow-clicked {
    background: $color_primary !important;
  }
  .content-name {
    position: relative;
  }
  .jstree-clicked + .content-name {
    color: $color_lightest!important;
  }
}